{% extends 'main/base.html' %}

{% block title %}Проверка тикера{% endblock %}

{% block content %}
    {% if ticker %}
        Ticker: {{ ticker }}
        <br>
        {% if info %}
            {% for ticker_info in info %}
                Symbol: {{ ticker_info.symbol }}<br> 

                {% if ticker_info.price %}
                    Price: {{ ticker_info.price }}<br>
                {% endif %}

                {% if ticker_info.bid_price %}
                    Bid price: {{ ticker_info.bid_price }}<br>
                {% endif %}

                {% if ticker_info.ask_price %}
                    Ask price: {{ ticker_info.ask_price }}<br>
                {% endif %}

            {% endfor %}
        {% else %}
            No info by ticker
        {% endif %}
    {% endif %}

    <form method="post" action="{% url 'check-ticker' %}">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Узнать</button>
    </form>
{% endblock %}
